body{
    background-color: slategray;
    height:1000px
}

p{
color: black;
font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header{
    
    color: black;
    
    font-size: 50px;
}

.img{
    align-content: center;
    color: black;
    margin-top: 10px;
    margin-left: 350px;
    margin-bottom: 10px;
    height: 530px;
    width: 750px;
    opacity: 0.6;
}



